  <div class="nested-fields form-inline mb-3 form-control pt-3">

    <div class="col-4">
      <%= f.label :Name, 'Magazine', class: 'form-label m-3' %>
      <%= f.text_field :Name, class: 'form-select form-select-sm m-3' %>
    </div>

  </div>